@page
@model YoYoMooc.StudentManagement.RazorPage.Pages.Students.IndexModel
@{
}
  <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Students/Index">
                                学生
                            </a>
                        </li>